#gpro-revolution-extension.modal {
    display: none;
    position: fixed;
    text-align: left;
    z-index: 101;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

#gpro-revolution-extension .modal-content {
    margin: auto;
    width: 800px;
}

#gpro-revolution-extension .boxy ul {
    width: 214px;
    margin: 0 0px 6px 6px;
    display: inline-block;
    clear: both;
}

#gpro-revolution-extension .xextension_boxy h1 em {
    position: absolute;
    right: 8px;
    top: 8px;
    text-align: right;
    font-size: 0.95em;
    font-style: normal;
}

#gpro-revolution-extension .xextension_boxy h1 em a {
    color: #93daff;
    font-weight: normal !Important;
}

#gpro-revolution-extension .boxy div.first_column {
    float: left;
    width: 220px;
}

#gpro-revolution-extension .boxy div.second_column {
    float: left;
    width: 580px;
}

#gpro-revolution-extension .boxy div.clear_column {
    clear: left;
}

#gpro-revolution-extension .boxy ul.list_data {
    width: 566px;
}

#gpro-revolution-extension .boxy ul.list_data select {
    width: 566px;
    border: none
}

#gpro-revolution-extension .boxy ul h2 {
    margin-bottom: 0;
    font-size: 1em;
    border-top: 1px solid #6ea9f1;
    border-bottom: 1px solid #132033;
    background: url(/images/xthbg.gif) repeat-x left top #125dc1;
    height: 20px;
    line-height: 20px;
    padding-left: 6px;
    color: #fff;
}

#gpro-revolution-extension .boxy ul li {
    width: 100% !Important;
}

#gpro-revolution-extension .boxy ul li input[type=checkbox] {
    margin-left: 4px;
}

#gpro-revolution-extension .boxy input[type=radio] {
    margin-left: 4px;
}

#gpro-revolution-extension .boxy ul li label {
    line-height: 22px;
    color: #93daff;
    white-space: nowrap;
}

#gpro-revolution-extension .boxy textarea {
    margin: 0px 6px 6px 6px;
    padding: 1px 2px 1px 2px;
    width: 782px;
    resize: none;
}

#gpro-revolution-extension .boxy input.halo {
    outline: 0;
}

#gpro-revolution-extension .boxy .status {
    background: #335480;
    border: 1px solid #132033;
    margin: 0px 6px 6px 6px;
    padding: 6px 0px 0px 6px;
    height: 21px;
    clear: both;
}

#gpro-revolution-extension .boxy .status .error {
    color: #ffa51c;
}

#gpro-revolution-extension .boxy input[type="radio"] label {
    color: #fff;
}