<div class="modal-content">
    <div class="boxy">
        <h1>
            <em style="cursor:default;">
                <a data-tab="database">Database</a> |
                <a data-tab="manual">Manual</a> |
                <a data-tab="extended">Extended</a> |
                <a data-tab="output">Output</a>
            </em>
            Revolution Team Extension (#VERSION#)
        </h1>
        <div data-tab="database" style="display: block;">
            <div class="first_column">
                <ul>
                    <h2>Database</h2>
                    <li>
                        <input type="checkbox" id="database_before_season" name="database_before_season" complex-data="driver_profile|negotiations_overview|staff_and_facilities|tech_d_profile|update_car" profile="database_before_season" disabled="disabled">
                        <label for="database_before_season">Season reset</label>
                    </li>
                    <li class="even">
                        <input type="checkbox" id="database_before_race" name="database_before_race" complex-data="driver_profile|economy_history|qualify|qualify2|race_setup|staff_and_facilities|tech_d_profile|testing|update_car" profile="database_before_race" disabled="disabled">
                        <label for="database_before_race">Before the race</label>
                    </li>
                    <li>
                        <input type="checkbox" id="database_after_race" name="database_after_race" complex-data="driver_profile|economy_history|negotiations_overview|race_analysis|staff_and_facilities|tech_d_profile|update_car" profile="database_after_race" disabled="disabled">
                        <label for="database_after_race">After the race</label>
                    </li>
                </ul>
                <ul>
                    <h2>Tools</h2>
                    <li>
                        <input type="checkbox" id="tools_driver_planner" name="tools_driver_planner" complex-data="driver_profile|economy_history" profile="tools_driver_planner" disabled="disabled">
                        <label for="tools_driver_planner">Driver planner (preview only)</label>
                    </li>
                    <li class="even">
                        <input type="checkbox" id="tools_race_planner" name="tools_race_planner" complex-data="driver_profile|supplier|update_car|weather_forecast" profile="tools_race_planner" disabled="disabled">
                        <label for="tools_race_planner">Race planner</label>
                    </li>
                    <li>
                        <input type="checkbox" id="tools_season_planner" name="tools_season_planner" complex-data="driver_profile|staff_and_facilities|supplier|tech_d_profile|testing|update_car" profile="tools_season_planner" disabled="disabled">
                        <label for="tools_season_planner">Season planner (preview only)</label>
                    </li>
                    <li class="even">
                        <input type="checkbox" id="tools_setup_predictor" name="tools_setup_predictor" complex-data="driver_profile|tech_d_profile|update_car|weather_forecast" profile="tools_setup_predictor" disabled="disabled">
                        <label for="tools_setup_predictor">Setup predictor</label>
                    </li>
                    <li>
                        <input type="checkbox" id="tools_testing_planner" name="tools_testing_planner" complex-data="driver_profile|tech_d_profile|update_car|weather_forecast_testing" profile="tools_testing_planner" disabled="disabled">
                        <label for="tools_testing_planner">Testing planner</label>
                    </li>
                </ul>
            </div>
            <div class="clear_column"></div>
        </div>
        <div data-tab="manual" style="display: none;">
            <div class="first_column">
                <ul>
                    <h2>Manual</h2>
                    <li>
                        <input type="checkbox" id="driver_profile" name="driver_profile" simple-data="driver_profile" disabled="disabled">
                        <label for="driver_profile">Driver</label>
                    </li>
                    <li class="even">
                        <input type="checkbox" id="tech_d_profile" name="tech_d_profile" simple-data="tech_d_profile" disabled="disabled">
                        <label for="tech_d_profile">Technical director</label>
                    </li>
                    <li>
                        <input type="checkbox" id="update_car" name="update_car" simple-data="update_car" disabled="disabled">
                        <label for="update_car">Car</label>
                    </li>
                    <li class="even">
                        <input type="checkbox" id="staff_and_facilities" name="staff_and_facilities" simple-data="staff_and_facilities" disabled="disabled">
                        <label for="staff_and_facilities">Staff and facilities</label>
                    </li>
                    <li>
                        <input type="checkbox" id="economy_history" name="economy_history" simple-data="economy_history" disabled="disabled">
                        <label for="economy_history">Economy history</label>
                    </li>
                    <li class="even">
                        <input type="checkbox" id="negotiations_overview" name="negotiations_overview" simple-data="negotiations_overview" disabled="disabled">
                        <label for="negotiations_overview">Negotiations</label>
                    </li>
                    <li>
                        <input type="checkbox" id="testing" name="testing" simple-data="testing" disabled="disabled">
                        <label for="testing">Testing</label>
                    </li>
                    <li class="even">
                        <input type="checkbox" id="practice" name="practice" simple-data="practice" disabled="disabled">
                        <label for="practice">Practice</label>
                    </li>
                    <li>
                        <input type="checkbox" id="qualify" name="qualify" simple-data="qualify" disabled="disabled">
                        <label for="qualify">Practice/Q1</label>
                    </li>
                    <li class="even">
                        <input type="checkbox" id="qualify2" name="qualify2" simple-data="qualify2" disabled="disabled">
                        <label for="qualify2">Q2</label>
                    </li>
                    <li>
                        <input type="checkbox" id="race_setup" name="race_setup" simple-data="race_setup" disabled="disabled">
                        <label for="race_setup">Race setup</label>
                    </li>
                    <li>
                        <input type="checkbox" id="race_analysis" name="race_analysis" simple-data="race_analysis" disabled="disabled">
                        <label for="race_analysis">Race analysis</label>
                    </li>
                    <li style="display: none;">
                        <input type="checkbox" id="race_analyses" name="race_analyses" list-data="race_analyses" disabled="disabled">
                        <label for="race_analyses">Race analyses (Supporter)</label>
                    </li>
                </ul>
            </div>
            <div class="clear_column"></div>
        </div>
        <div data-tab="extended" style="display: none;">
            <div class="first_column">
                <ul>
                    <h2>Extended</h2>
                    <li>
                        <input type="checkbox" id="manager_profile" name="manager_profile" simple-data="manager_profile" disabled="disabled">
                        <label for="manager_profile">Manager profile</label>
                    </li>
                    <li class="even">
                        <input type="checkbox" id="race_thread" name="race_thread" simple-data="race_thread" disabled="disabled">
                        <label for="race_thread">Race thread</label>
                    </li>
                    <li>
                        <input type="checkbox" id="season" name="season" complex-data="suppliers|calendar" profile="database_admin_season" disabled="disabled">
                        <label for="season">Season</label>
                    </li>
                    <li class="even">
                        <input type="checkbox" id="calendar" name="calendar" simple-data="calendar" disabled="disabled">
                        <label for="calendar">Season calendar</label>
                    </li>
                    <li>
                        <input type="checkbox" id="supplier" name="supplier" simple-data="supplier" disabled="disabled">
                        <label for="supplier">Supplier</label>
                    </li>
                    <li class="even">
                        <input type="checkbox" id="suppliers" name="suppliers" simple-data="suppliers" disabled="disabled">
                        <label for="suppliers">Suppliers</label>
                    </li>
                    <li>
                        <input type="checkbox" id="track_details" name="track_details" simple-data="track_details" disabled="disabled">
                        <label for="track_details">Track details</label>
                    </li>
                    <li class="even">
                        <input type="checkbox" id="tracks" name="tracks" list-data="tracks" disabled="disabled">
                        <label for="tracks">Tracks</label>
                    </li>
                    <li>
                        <input type="checkbox" id="weather_forecast" name="weather_forecast" simple-data="weather_forecast" disabled="disabled">
                        <label for="weather_forecast">Weather forecast</label>
                    </li>
                    <li class="even">
                        <input type="checkbox" id="weather_forecast_testing" name="weather_forecast_testing" simple-data="weather_forecast_testing" disabled="disabled">
                        <label for="weather_forecast_testing">Weather forecast(Testing)
                        </label>
                    </li>
                </ul>
            </div>
            <div id="list_data_tracks" class="second_column" style="display: none;">
                <ul class="list_data">
                    <h2>Select Data</h2>
                    <li><select class="ui search" multiple="multiple" size="12"></select></li>
                </ul>
                <div style="margin: 0 -4px 6px 0;float: right;">
                    <input type="submit" class="halo" id="database_admin_tracks" name="database_admin_tracks" profile="database_admin_tracks" value="Collect">
                </div>
            </div>
            <div class="clear_column"></div>
        </div>
        <div data-tab="output" style="display: none;">
            <textarea id="gpro-revolution-extension-textarea" rows="30" readonly="readonly"></textarea>
            <div style="margin-left: 6px; float: left;">
                <input type="radio" id="format_json" name="format" value="json" disabled="disabled">
                <label for="format_json">Database</label>
                <input type="radio" id="format_bbcode" name="format" value="bbcode" checked="checked" disabled="disabled">
                <label for="format_bbcode">Forum</label>
            </div>
            <div style="margin: 0 -4px 6px 0;float: right;">
                <input type="submit" class="halo" name="clean" value="Clean">
                <input data-clipboard-target="#gpro-revolution-extension-textarea" type="submit" class="halo" name="copy" value="Copy">
            </div>
        </div>
        <div class="status" style="display: none;"><span></span></div>
    </div>
</div>