body>div#outer>div.boxy {
    display: none !important;
}

div#raceads,
div#adContainer,
div#dvAd72890 {
    display: none !important;
}

div[style*="z-index: 9999;"],
div.boxy[style*="height:100px;"] {
    display: none !important;
}